<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kalkulator</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Marcellus+SC" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" ;>

</head>
<body>
<article class="first">
    <div class="top">
        <header>
            <h1>Kalkulator</h1>
        </header>
    </div>

    <p class="i1"><label><h2>Podaj liczby</h2></label></p>
    <form method="post" th:action="@{/}" th:object="${data}">
        <input type="text" th:field="*{a}" placeholder="Pierwsza liczba" th:value="0"/>
        <input type="text" th:field="*{b}" placeholder="Druga liczba" th:value="0"/>


        <!--nie działa jak powinno, powinna być osobna metoda w kontrolerze, która zerowałaby.(redirect:)-->
        <p class="i2">
            <button type="reset">
                Wyczyść
            </button>
        </p>

        <p class="f1"><label><h2>Wybierz operację</h2></label></p>
        <p class="f2">

            <button type="submit" name="add">
                <i class="fa fa-plus" aria-hidden="true" title="Plus"></i>
            </button>
            <button type="submit" class="button" name="sub">
                <i class="fa fa-minus" aria-hidden="true" title="Minus"></i>
            </button>
            <button type="submit" class="button" name="multi">
                <i class="fa fa-times" aria-hidden="true" title="Mnożenie"></i>
            </button>
            <button type="submit" name="div">
                <i title="Dzielenie"> / </i>
            </button>
            <button type="submit" name="percent">
                <i class="fa fa-percent" aria-hidden="true" title="Procent z"></i>
            </button>
            <button type="submit" name="pow">
                <i class="fa fa-superscript" aria-hidden="true" title="Potęgowane do"></i>
            </button>
            <button type="submit" class="button" name="modulo">
                <i title="Reszta z dzielenia"> r </i>
            </button>
        </p>
        <!--<p class="i2">-->
        <!--<button type="submit">-->
        <!--Oblicz-->
        <!--</button>-->
        <!--</p>-->
        <!--<button type="submit" class="button" name="sqr">-->
        <!--<i class="fas fa-square-root" title="Pierwiastek z"></i>-->
        <!--</button>-->
        <!--<button type="submit" class="button" name="fac">-->
        <!--<i class="fa fa-exclamation" aria-hidden="true" title="Silnia"></i>-->
        <!--</button>-->

    </form>
    <div class="result">
        <h2>Wynik: </h2>
        <p th:text="${result}">
    </div>

</article>

<div class="bottom"></div>

</body>
</html>